body {
  /* e1ca96 ACA885 434A42 F4F4ED F6BD60 E63946 A8DADC 262322 7C6A0A F5BB00 B6174B */
  background-color: #f4f4ed;
  background-color: #e1ca96;
  background-color: #aca885;
  background-color: #434a42;
  background-color: #306b34;
  background-color: #a1c6ea;
}
