@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap");
@font-face {
  font-family: SketchPencil;

  src: url(/home/aminumado/Git-Repository/Projects/TheOdinProject/battleships/src/assets/font/SketchPencilDemoItalic.ttf);
}
@font-face {
  font-family: Crosshatcher;
  src: url(/home/aminumado/Git-Repository/Projects/TheOdinProject/battleships/src/assets/font/Crosshatcher.otf);
}
@font-face {
  font-family: Handrush;
  src: url(/home/aminumado/Git-Repository/Projects/TheOdinProject/battleships/src/assets/font/HandrushDemoRegular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 0.15fr 2fr 0.1fr;
  width: 100vw;
  height: 100vh;
  font-family: Crosshatcher, SketchPencil, Handrush;
  background-color: #ededed;
}
.header {
  grid-area: header;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 55px 0px 55px;
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.footer {
  grid-area: footer;
  background-color: #8a8a8a;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5px;
  padding: 10px;
  font-size: 20px;
  font-family: Domine;
}
.github-logo {
  width: 20px;
  height: 20px;
  transition: all 300ms linear;
  border-radius: 50%;
  box-shadow: 0px 0px 5px beige;
  cursor: pointer;
  color: orange;
}
.github-logo:hover {
  transform: rotate(360deg) scale(1.3);
  box-shadow: 0px 0px 5px rgb(0, 0, 255);
}

/* This is for the gameboard in the main section */

/* now we actually start */

.p1-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 3px;
}
.p1-board-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p2-board-container {
  display: flex;
  flex-direction: column;
  transform: scale(0);
  opacity: 0;
  gap: 10px;
}
.p2-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 3px;
}
.p1-grid-cell,
.p2-grid-cell {
  transition: all 90ms ease-in;
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid black;
  position: relative;
  box-sizing: border-box;
}
.board-info {
  transition: all 1s ease-in-out;
}
h3 {
  border-bottom: 2px solid;
  text-align: center;
}
h4 {
  text-align: center;
}

/* ships selection container */
.ship-selection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: absolute;
  left: 60%;
}
.ship-selection-container p {
  font-size: 60px;
}
.ship-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ship {
  display: flex;
  gap: 3px;
}
.part {
  width: 2rem;
  height: 2rem;
  border: 10px solid #000000;
}
/* .active {
  transform: scale(1.05);
  box-shadow: 5px 5px 0px 0px green;
} */
.battleship {
  background-color: navy;
  border: 7px solid;
  transform: scale(1);
}
.cruiser {
  background-color: brown;
  border: 7px solid;
}
.destroyer {
  background-color: teal;
  border: 7px solid;
}
.submarine {
  background-color: blueviolet;
  border: 7px solid;
}
.patrol {
  background-color: lawngreen;
  border: 7px solid;
}
.hover {
  background-color: rgb(174, 171, 171);
}
/* game board */
.gameboards-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 60px;
}

.show {
  transform: scale(1.1);
  opacity: 1;
  transition: all 1s ease-in-out;
}
.inactive {
  transform: scale(0);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.disable {
  transform: scale(0.7);
  opacity: 0.8;
  transition: all 1s ease-in-out;
  pointer-events: none;
}
/* hover styling */

.p2-grid-cell:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  top: 25%;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background: #dd1c1a;
  display: block;
  animation: pulse 1.5s ease 0s infinite;
}

.p2-grid-cell:hover::before {
  content: "";
  position: absolute;
  left: 25%;
  top: 25%;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background: #c1292e;
  display: block;
  animation: pulse2 1.5s ease 0s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  80% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes pulse2 {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
/* hit and miss */
.miss {
  background-color: aqua;
  pointer-events: none;
}

.miss:after {
  content: "\f111";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}
.hit {
  background-color: firebrick;
  pointer-events: none;
}
.hit:after {
  content: "\f00d";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* start Page */
.overlay-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 1s ease-in-out;
  pointer-events: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-menu.active {
  opacity: 1;
  pointer-events: all;
}
.start-page {
  position: fixed;
  background-image: url(/home/aminumado/Git-Repository/Projects/TheOdinProject/battleships/src/assets/images/battleship.jpg);
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 2s ease-in-out;
  pointer-events: none;
  z-index: 2;
  background-repeat: round;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 5%;
}
.start-page.active {
  opacity: 1;
  pointer-events: all;
}

.title {
  margin: 10px;
  font-size: 650%;
  color: #8a8a8a;
}
.start-btn {
  font-size: 4.2rem;
  text-align: center;
  outline: none;
  font-family: Crosshatcher;
  cursor: pointer;
  transition: all 0.51s ease-in-out;
  font-weight: bolder;
}

button {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-family: Crosshatcher;
  transition: all 0.51s ease-in-out;
  color: #8a8a8a;
  font-size: 30px;
}
button:hover {
  color: brown;
  transform: scale(1.2);
  cursor: pointer;
}
button:active {
  transform: scale(1.4);
}
/* menu */
.menu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 40%;
  background: black;
  opacity: 0;
}
.menu-page.active {
  opacity: 1;
}

.menu-btn {
  font-size: 50px;
  color: #8a8a8a;
}
/* button container */
.button-container {
  display: flex;
  gap: 40px;
}
/* result page */
.overlay-result {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 1s ease-in-out;
  pointer-events: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-result.active {
  opacity: 1;
  pointer-events: all;
}
.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 40%;
  background: black;
  color: #8a8a8a;
  font-size: 150px;
  opacity: 0;
}
.result-page.active {
  opacity: 1;
}
